//Dark color pallete
$space-cadet: #1E1F4Fff;
$byzantium: #6F326Dff;
$rose-dust: #9C6673ff;
$russian-violet: #422555ff;

//Light color pallete
$indigo-dye: #183F60ff;
$heliotrope-gray: #ABA0B3ff;
$cyclamen: #F1639Bff;
$english-violet: #4C3161ff;
$blue-yonder: #597BA1ff;
$unbleached-silk: #FBD7C1ff;

//breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1100px;
$breakpoint-desktop: 1440px;
