@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

.project-main-div {
  background-color: rgb(14, 7, 22);
  min-width: max-content;
  height: 100%;
  font-family: "Proza Libre", sans-serif;
}

.pjt-content {
  color: #f7f6f1;
}

.pjct-img {
  padding-top: 3%;
  width: 50vw;
  height: 50vh;
}

hr {
  width: 70%;
}

.project {
  display: flex;
  flex-direction: column;
}

.pr-title {
  color: #dda499;
}
