@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

.about-main-div {
  background-color: rgb(14, 7, 22);
  min-width: max-content;
  height: 100vh;
  font-family: "Proza Libre", sans-serif;
}
.about-div {
  padding-top: 5%;
  color: #f7f6f1;
}

.abt-title {
  color: #dda499;
}

.about-span {
  margin-top: 5%;
  color: #f7f6f1;
  font-size: larger;
}

.whole-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Proza Libre", sans-serif;
  font-size: larger;
}

.first-list {
  padding-right: 10%;
  padding-top: 0%;
}

.tech-list {
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}
