@import "/src/styles/variables.scss";

#root {
  overflow-x: hidden;
}

body {
  background-color: #000;
  &.light {
    background-color: #fff;
  }
}

.panel {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
    @media (max-width: $breakpoint-tablet) {
      padding: 0 30px;
    }
  }
}
