@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
html {
  /* max-width: 100%; */
}
.nav-div {
  display: flex;
  flex-direction: row;
  background-color: #af6067;
  height: 2.8rem;
  width: 100%;
}

.nav-logo {
  margin: 10px;
  color: blue;
}

.nav-l-div {
  flex: auto;
  margin-right: 10%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;
}
.nav-links :hover {
  color: #774045;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}
