@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.nav-div {
  display: flex;
  flex-direction: row;
  background-color: #af6067;
  height: 2.8rem;
}

.nav-logo {
  margin: 10px;
  color: blue;
}

.nav-links {
  display: flex;
  margin-left: 60%;
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;
}
.nav-links :hover {
  color: #774045;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}
