.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    background: linear-gradient(to bottom, rgba(9, 9, 9, 0.706), rgba(0, 0, 0, 0.261));
    .navbar-home {
      font-size: 20px;
      color: #fff;
    }
    .navbar-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
      color: #fff;
      // pointer 
      a {
        // chage to pointer
        cursor: pointer;
        &.active {
          text-decoration: line-through;
        }
      }
    }
  }
}