@import "/src/Styles/_variables.scss";

.contact {
  position: relative;
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  .contact-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.5rem;
    }
  }
  .contact-text {
    padding: 0 30% 50px 30%;
    font-family: 'Secular One';
    font-weight: 900;
    font-size: 1.5rem;
    color: #fff;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.2rem;
      padding: 0 10% 50px 10%;
    }
  }
  .contact-btn {
    margin-top: 30px;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #000;
      font-size: 1.7rem;
      color: $rose-dust;
      font-family: "Ground Castle";
      text-decoration: line-through;
    }
  }
  .footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $breakpoint-tablet) {
    }
    .icons {
      display: flex;
      a {
        margin: 5px 10px;
        .linkedin {
          background-image: url("./assets/linkedIn-dark.svg");
          background-size: cover;
          width: 30px;
          height: 30px;
        }
        .github {
          background-image: url("./assets/github-dark.svg");
          background-size: cover;
          width: 30px;
          height: 30px;
        }
      }
    }
    .footer-text {
      padding-top: 10px;
      font-size: 1rem;
      color: #fff;
    }
  }
}

.light {
  .contact {
    background-color: #fff;
    .contact-title {
      color: #000;
    }
    .contact-text {
      color: #000;
    }
    .contact-btn {
      background-color: $rose-dust;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    .footer {
      .icons {
        a {
          .linkedin {
            background-image: url("./assets/linkedIn-light.svg");
          }
          .github {
            background-image: url("./assets/github-light.svg");
          }
        }
      }
      .footer-text {
        color: #000;
      }
    }
  }
}
