@import "/src/Styles/_variables.scss";

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $space-cadet;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(15, 14, 14, 0.747) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgb(15, 14, 14) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  canvas {
    position: absolute;
    z-index: 1;
  }
  .header-content {
    margin: 20% 0 0 0;
    color: #fff;
    z-index: 2;
    user-select: none;
    @media (max-width: $breakpoint-tablet) {
      text-align: center;
      margin-top: 50%;
    }
    .header-span {
      font-size: 2rem;
      font-weight: 700;
      font-family: 'Ground Castle';
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin-bottom: 1rem;
      text-indent: 9px;
      @media (max-width: $breakpoint-tablet) {
        font-size: calc(1rem - 1vw);
        letter-spacing: 0.3rem;
      }
      &::before{
        content: "Front End,";
        animation: switch 3s ease-in-out infinite;
      }
    }
    .header-title {
      display: block;
      font-size: 12rem;
      font-weight: 600;
      letter-spacing: 6px;
      @media (max-width: $breakpoint-tablet) {
        font-size: calc(7rem - 2vw);
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: calc(3rem - 2vw);
      }
    }
    .header-subtitle {
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
      z-index: 3;
      @media (max-width: $breakpoint-tablet) {
        font-size: calc(1.5rem - 1vw);
        padding: 0 10%;
      }
    }
  }
}

//Light Theme
.light {
  .header {
    background-color: $heliotrope-gray;
    &::before {
      background: linear-gradient(
        180deg,
        rgba(252, 251, 251, 0.226) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    &::after {
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.885) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    .header-content {
      color: #000;
    }
  }
}


@keyframes switch {
  0% {
    content: "Front End,";
  }
  50% {
    content: "Creative,";
  }
  100% {
    content: "Curious,";
  }
}